@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
 @font-face {
     font-family: 'codropsicons';
     src: url('../fonts/codropsicons/codropsicons.eot');
     src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
     font-weight: normal;
     font-style: normal;
}
 *{
     text-decoration: none;
     scroll-behavior: smooth;
     list-style: none;
     transition: 0.1s all ease;
     font-family: 'Raleway';
     outline: none;
}
 html {
     overflow-x: hidden;
}
 nav{
     position: fixed;
     top: 0;
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 9.55vh;
     font-family: "Poppins", sans-serif;
     z-index: 9999;
}
 .logo{
     color: rgb(0, 0, 0);
     text-transform: uppercase;
     letter-spacing: 5px;
     font-size: 20px;
}
 .nav-links{
     display: flex;
     justify-content: space-around;
     width: 35%;
}
 .nav-links a{
     color: rgb(0, 0, 0);
     letter-spacing: 3.56px;
     font-weight: 450;
     font-size: 14px;
     position: relative;
     display: flex;
     justify-content: center;
}
 .nav-links li a:after{
     content: '';
     display: block;
     width: 0;
     bottom: 0;
     height: 1px;
     background: rgb(0, 0, 0);
     transition: width .3s;
     position: absolute;
}
 .nav-links li a:hover:after{
     width: 100%;
     transition: width .3s;
}
 .burger{
     display: none;
}
 .burger div{
     width: 25px;
     height: 3px;
     background-color: rgb(0, 0, 0);
     margin: 5px;
     transition: all 0.3s ease;
}
 .burger {
     cursor: pointer;
     display: none;
     z-index: 999;
}
 .burger .line {
     width: 25px;
     height: 2px;
     background: rgb(0, 0, 0);
     margin: 5px 0px;
     z-index: 9999;
     transition: all 0.2s ease;
}
 .catalog{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
 .display-type h1{
     text-align: center;
     color: rgb(0, 0, 0);
     font-weight: bold;
     position: relative;
     top: 28px;
}
 .display-row{
     display: flex;
     justify-content: center;
}
 .display{
     width: 350px;
     height: 500px;
     margin: 40px;
     background: #494949;
     padding: 4rem 3rem;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     transition: all 0.5s ease;
}
 .display img{
     width: 200px;
     height: 100%;
     object-fit: cover;
     margin-bottom: 40px;
     transition: transform 0.25s ease;
     cursor: zoom-in;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-drag: none;
     -webkit-user-select: none;
     -ms-user-select: none;
}
 .display input[type=checkbox] {
     display: none;
}
 .display img {
     transition: transform 0.25s ease;
     cursor: zoom-in;
}
 .display input[type=checkbox]:checked~img {
     transform: scale(1.3555);
     cursor: zoom-out;
}
 .display1 img{
     width: 180px !important;
     height: 90% !important;
     position: relative;
     top: 25px;
}
 .container2{
     max-width: 1170px;
     margin:auto;
}
 .row{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
 ul{
     list-style: none;
}
 footer{
     background-color: #1C1C1E;
}
 .footer-inner{
     padding: 70px 30px 30px 30px;
     height: 100%;
}
 .footerInnerContainer{
     display: flex;
     justify-content: space-around;
}
 .footer-about-us{
     width: 40%;
     height: 100%;
     padding: 10px;
     font-size: 16px;
}
 .footer-link{
     width: 25%;
     padding: 10px;
}
 .footer-text{
     font-size: 25px;
     color: white;
     padding-bottom: 10px;
}
 .links-para{
     color: #c9bebe;
}
 .links-para ul{
     list-style-type:none;
     margin: 0;
     padding: 0;
}
 .footer .links-para ul li{
     padding: 0px 0px 8px 0px;
     width: max-content;
}
 .links-para ul li a{
     cursor: pointer;
     display: block;
     transition: 0.3s;
}
 .links-para ul li:hover a{
     color: white;
     transform: translate(15px, 1px) scale(125%);
}
 footer hr{
     margin-bottom: 22px;
}
.Copyright p{
  text-align: center;
  font-size: 18px;
  color: white;
}

 @media screen and (max-width: 2560px) {
     footer{
         padding: 0px 20%;
    }
}
 @media screen and (max-width: 1440px) {
     footer{
         padding: 0px 10%;
    }
}
 @media screen and (max-width: 1024px) {
     footer{
         padding: 0px 5%;
    }
}
 @media screen and (max-width: 768px) {
     footer{
         padding: 0px 0px;
    }
}
/* phone */
 @media(max-width: 1000px) {
     .burger {
         display: block;
    }
     .nav-links {
         position: fixed;
         z-index: 98;
         right: 0;
         flex-direction: column;
         width: 100vw;
         align-items: center;
         justify-content: center;
         background: rgb(42, 42, 43);
         color: rgb(255, 255, 255);
         height: 124vh;
         top: 6%;
         opacity: 1;
         transform: translateX(100%);
         transition: all 0.5s ease;
    }
     .nav-links.active {
         transform: translateX(0);
         opacity: 1;
    }
     .sch .line.active {
         background: white;
    }
     .line.active {
         background: white;
    }
     .nav-links li {
         margin: 20px 0px;
    }
     .one.active {
         transform: rotate(-45deg) translate(-50%, -50%);
    }
     .two.active {
         display: none;
    }
     .three.active {
         transform: rotate(45deg) translate(-5px, 6px);
    }
     .bottom {
         display: none !important;
    }
     .sch .nav-links li a {
         color: white !important;
    }
     .nav-links li a {
         color: white !important;
         font-size: 27px;
    }
}
 @media (max-width:768px) {
     footer {
         display: none;
    }
}
 @media(max-width: 600px) {
     html, body {
         display: flex !important;
         flex-direction: column !important;
         justify-content: center !important;
    }
     nav{
         margin-top: -2200px !important;
    }
     footer {
         display: none;
         opacity: 0;
         visibility: hidden;
    }
}
