@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@font-face {
  font-family: 'codropsicons';
  src: url('../fonts/codropsicons/codropsicons.eot');
  src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    transition: 0.2s all ease;
    font-family: 'Raleway';
    outline: none;
}

html {
    overflow-x: hidden;
  }
  
  body{
    min-height: 200vh;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 3rem 10%;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
    height: 0;
    z-index: 99;
  }
  
  nav .logo {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-bottom: 8%;
    text-decoration: none;
    outline: none;
  }
  
  nav .logo a:hover {
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    padding-top: 1%;
    text-align: center;
    padding-right: 30px;
  }
  
  .nav-links li {
    margin: 10px 10px;
  }
  
  .nav-links li a {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
  }
  
  .nav-links li a:after {
    content: '';
    display: block;
    width: 0;
    bottom: 0;
    height: 1px;
    background: white;
    transition: width .3s;
    position: absolute;
  }
  
  .nav-links li a:hover:after {
    width: 100%;
    transition: width .3s;
  }
  
  .sch h2{
    color: black;
  }
  .sch .nav-links li a {
    color: black;
  }
  
  .sch {
    background-color: rgba(218, 213, 213, 0.13);
  }
  
  .sch li a:hover {
    text-decoration: none;
  }
  
  .sch .nav-links li a:after {
    width: 0;
    height: 1px;
    background: black;
    transition: width .3s;
  }
  
  .sch .nav-link:hover:after {
    width: 100%;
    transition: width .3s;
  }
  .burger {
    cursor: pointer;
    display: none;
    z-index: 999;
  }
  
  .burger .line {
    width: 25px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 5px 0px;
    z-index: 9999;
    transition: all 0.2s ease;
  }
  
  /* head */

  .head {
    background: url(img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0rem 10%;
    justify-content: left;
  }
  
  .head::after {
    content: '';
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255, 0));
    height: 100vh;
    width: 100%;
    position: absolute;
    display: block;
    z-index: 2;
    left: 0;
  }
  
  .title {
    color: white;
    z-index: 3;
  }
  
  .title .h1-title {
    font-size: 4.5rem;
    width: 450px;
    display: flex;
    justify-content: left;
    font-weight: 600;
  }

  .link li a{
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background: rgb(56, 51, 51);
    padding: 9px 40px;
    position: relative;
    top: 12px;
  }

  .link li a:hover {
    text-decoration: none;
  }


/* about */
.about {
  padding: 7rem 5rem;
}

.about h1 {
  font-size: 4.3rem;
  font-weight: 700;
  font-family: 'Raleway';
  text-align: left;
  position: relative;
  top: -35px;
}

.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info p {
  width: 500px;
  position: relative;
  top: -15px;
}


.about-info img {
  width: 550px;
  object-fit: scale-down;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* faq */
.container-faq {
  margin: 0 auto;
  padding: 4rem;
  width: 80rem;
}

.container-faq h2{
  font-size: 4.1rem;
  font-weight: 700;
  font-family: 'Raleway';
  text-align: center;
  position: relative;
  bottom: 40px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #4d4e4e;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #000000;
  font-size: 1.69rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #666565;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #414242;
  border: 1px solid #3d3d3d;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #000000;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 100ms linear, max-height 175ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 2em 0;
}

/* Contact */

.container h2{
  font-size: 4rem !important;
  font-weight: 600;
  position: relative;
  top: -10px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  background-color: rgb(253, 253, 253);
}

.contact-box {
  font-family: 'Raleway';
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.left {
  background: url("img/unknown.png") no-repeat center;
  background-size: cover;
  height: 100%;
  cursor: default;
  border-radius: 5px 0px 0px 5px;
}

.right {
  padding: 25px 40px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-bottom: 22px;
  transition: 0.3s all ease;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease;
}

.field:focus{
  border: 2px solid rgba(30, 85, 250, 0.47);
  transition: 0.3s all ease;
}

textarea {
  min-height: 150px;
}

textarea,
input {
  color: black;
  text-align: left;
}

.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  /* font-size: 1.1rem; */
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
}

.btn:hover {
  background-color: #27ae60;
}

#button {
  font-size: 12px;
  font-family: 'Raleway';
}

.field:focus {
  background-color: #fff;
}

/* footer */
.container2{
	width: 1170px;
	margin:auto;
}
.row{
	display: flex;
  justify-content: center;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/


/* tablet  // big screens */

@media(max-width: 1800px) {
  .h1-title {
    font-size: 5rem !important;
    width: 600px !important;
  }
  .footer {
    width: 100%;
  }
  }

@media (max-width:1334px){


  .head{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about h1 {
    text-align: center;
    margin: 0 auto;
  }

  .about {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    margin: 0 auto;
  }

  .about img {
    display: none;
  }
  .faq {
    padding-left: 230px;
  }
}

@media(max-width: 1024px) {
	.head {
	  padding: 0;
	  background: url(img/background.jpg);
	}
	

	footer {
	  display: none;
	}
	.head {
	  text-align: center;
	  display: flex;
	  justify-content: center;
	}
  .about img {
	  display: none;
	}
  }

  @media screen and (max-width: 880px) {
    .container {
      width: 100%;
      padding-left: 40px;
      position: relative;
      left: 70px;
    }
    .contact-box {
      grid-template-columns: 1fr;
    }
    .left {
      height: 200px;
    }
    }
    

  /* phone */

  @media(max-width: 1000px) {
    .burger {
      display: block;
    }
    .nav-links {
      position: fixed;
      z-index: 98;
      right: 0;
      flex-direction: column;
      width: 100vw;
      align-items: center;
      justify-content: center;
      background: rgb(42, 42, 43);
      color: rgb(255, 255, 255);
      height: 124vh;
      top: 6%;
      opacity: 1;
      transform: translateX(100%);
      transition: all 0.5s ease;
    }
    .nav-links.active {
      transform: translateX(0);
      opacity: 1;
    }
    .sch .line.active {
      background: white;
    }
    .line.active {
      background: white;
    }
    .nav-links li {
      margin: 20px 0px;
    }
    .one.active {
      transform: rotate(-45deg) translate(-50%, -50%);
    }
    .two.active {
      display: none;
    }
    .three.active {
      transform: rotate(45deg) translate(-5px, 6px);
    }
    .bottom {
      display: none !important;
    }
    .sch .nav-links li a {
      color: white !important;
    }
    .nav-links li a {
      color: white !important;
      font-size: 27px;
    }
    }
  @media (max-width:768px) {
    .grid {
      grid-template-columns: 1fr;
    }
    footer {
      display: none;
    }
    .about {
      background: none;
    }
    }

    @media(max-width: 600px) {
      html,
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 100vh;
        margin: auto;
        width: 100%;
      }
      nav{
        position: fixed;
width: 100%;

      }
      .head {
        /* padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; */
        width: 300% !important;
      }
      .head::after{
        width: 300% !important;
      }
      .head .link {
        display: flex;
        justify-content: center;
      }
      .about {
        width: 100% !important;

      }
      .about p{
        width: 300px !important;
      }
      footer {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
      
      .head .h1-title {
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 40px;
      }
      .about {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding-left: 380px !important;
      }
      .about #about-info {
        width: 100%;
      }
      .about img {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
      .about .about-info p {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0px;
      }
      .about h1 {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
      }
      }

 


  /* others*/

  .mar{
    margin: 50px;
  }
  .mar2{
    margin: 200px;
  }