@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
 @font-face {
     font-family: 'codropsicons';
     src: url('../fonts/codropsicons/codropsicons.eot');
     src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
     font-weight: normal;
     font-style: normal;
}
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     scroll-behavior: smooth;
     list-style: none;
     transition: 0.2s all ease;
     font-family: 'Raleway';
     /* outline: none; */
}
 html {
     overflow-x: hidden;
}
 nav{
     position: fixed;
     top: 0;
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 9.55vh;
     backdrop-filter: blur(2px);
     font-family: "Poppins", sans-serif;
     z-index: 9999;
}
 .logo{
     color: rgb(226, 226, 226);
     text-transform: uppercase;
     letter-spacing: 5px;
     font-size: 20px;
}
 .nav-links{
     display: flex;
     justify-content: space-around;
     width: 35%;
}
 .nav-links a{
     color: rgb(226, 226, 226);
     letter-spacing: 3.56px;
     font-weight: 450;
     font-size: 14px;
     position: relative;
     display: flex;
     justify-content: center;
}
 .nav-links li a:after{
     content: '';
     display: block;
     width: 0;
     bottom: 0;
     height: 1px;
     background: rgb(226, 226, 226);
     transition: width .3s;
     position: absolute;
}
 .nav-links li a:hover:after{
     width: 100%;
     transition: width .3s;
}
 .burger{
     display: none;
}
 .burger div{
     width: 25px;
     height: 3px;
     background-color: rgb(226, 226, 226);
     margin: 5px;
     transition: all 0.3s ease;
}
 .sch h2{
     color: black;
}
 .sch .nav-links li a {
     color: black;
}
 .sch li a:hover {
     text-decoration: none;
}
 .sch .nav-links li a:after {
     width: 0;
     height: 1px;
     background: black;
     transition: width .3s;
}
 .sch .nav-link:hover:after {
     width: 100%;
     transition: width .3s;
}
 .sch .logo{
     color: black;
}
 .burger {
     cursor: pointer;
     display: none;
     z-index: 999;
}
 .burger .line {
     width: 25px;
     height: 2px;
     background: rgb(0, 0, 0);
     margin: 5px 0px;
     z-index: 9999;
     transition: all 0.2s ease;
}
/* head */
 .head {
     background: url(img/background.jpg);
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
     z-index: 1;
     display: flex;
     align-items: center;
     padding: 0rem 10%;
     justify-content: left;
}
 .head::after {
     content: '';
     background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255, 0));
     height: 100vh;
     width: 100%;
     position: absolute;
     display: block;
     z-index: 2;
     left: 0;
}
 .title {
     color: white;
     z-index: 3;
}
 .title .h1-title {
     font-size: 3rem;
     width: 450px;
     display: flex;
     justify-content: left;
     font-weight: 600;
}
 .link li a{
     font-size: 18px;
     color: white;
     border-radius: 5px;
     background: rgb(56, 51, 51);
     padding: 9px 40px;
     position: relative;
     top: 12px;
}
 .link li a:hover {
     background-color: rgb(104, 97, 97);
     color: white;
     text-decoration: none;
}
/* about */
 .about {
     padding: 7rem 5rem;
}
 .about h1 {
     font-size: 3rem;
     font-weight: 700;
     font-family: 'Raleway';
     text-align: left;
     position: relative;
     top: -90px;
}
 .about-info {
     display: flex;
     justify-content: center;
     align-items: center;
}
 .about-info p {
     font-size: 0.9rem;
     width: 500px;
     position: relative;
     top: -75px;
}

.about-info a {
  color: white;
  padding: 9px 30px;
  background: rgb(56, 51, 51);
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  top: -65px;
}


.about-info a:hover {
  background-color: rgb(104, 97, 97);
  color: white;
}

 .about-info img {
     width: 400px;
     height: 400px;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-drag: none;
     -webkit-user-select: none;
     -ms-user-select: none;
}
/* faq */
 .container-faq {
     margin: 0 auto;
     padding: 4rem;
     width: 80rem;
}
 .container-faq h2{
     font-size: 3rem;
     font-weight: 700;
     font-family: 'Raleway';
     text-align: center;
     position: relative;
     bottom: 40px;
}
 .accordion .accordion-item {
     border-bottom: 1px solid #e5e5e5;
     zoom: 89%;
     width: 70%;
     position: relative;
     left: 200px;
}
 .accordion .accordion-item button[aria-expanded='true'] {
     border-bottom: 1px solid #4d4e4e;
}
 .accordion button {
     position: relative;
     display: block;
     text-align: left;
     width: 100%;
     padding: 1em 0;
     color: #000000;
     font-size: 1.2rem;
     font-weight: 400;
     border: none;
     background: none;
     outline: none;
}
 .accordion button:hover, .accordion button:focus {
     cursor: pointer;
     color: #666565;
}
 .accordion button:hover::after, .accordion button:focus::after {
     cursor: pointer;
     color: #414242;
     border: 1px solid #3d3d3d;
}
 .accordion button .accordion-title {
     padding: 1em 1.5em 1em 0;
}
 .accordion button .icon {
     display: inline-block;
     position: absolute;
     top: 18px;
     right: 0;
     width: 22px;
     height: 22px;
     border: 1px solid;
     border-radius: 22px;
}
 .accordion button .icon::before {
     display: block;
     position: absolute;
     content: '';
     top: 9px;
     left: 5px;
     width: 10px;
     height: 2px;
     background: currentColor;
}
 .accordion button .icon::after {
     display: block;
     position: absolute;
     content: '';
     top: 5px;
     left: 9px;
     width: 2px;
     height: 10px;
     background: currentColor;
}
 .accordion button[aria-expanded='true'] {
     color: #000000;
}
 .accordion button[aria-expanded='true'] .icon::after {
     width: 0;
}
 .accordion button[aria-expanded='true'] + .accordion-content {
     opacity: 1;
     max-height: 9em;
}
 .accordion .accordion-content {
     opacity: 0;
     max-height: 0;
     overflow: hidden;
     transition: opacity 100ms linear, max-height 175ms linear;
     will-change: opacity, max-height;
}
 .accordion .accordion-content p {
     font-size: 1rem;
     font-weight: 300;
     margin: 2em 0;
}
/* Contact */
 .container-contact h2{
     font-size: 3rem !important;
     font-weight: 600;
     position: relative;
     top: -8px;
}
 .container-contact {
     position: relative;
     width: 100%;
     height: 100%;
     padding: 20px 100px;
     background-color: rgb(253, 253, 253);
}
 .contact-box {
     font-family: 'Raleway';
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: #fff;
     box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
     border-radius: 5px;
}
 .left {
     background: url("img/contact.png") no-repeat center;
     background-size: cover;
     height: 100%;
     cursor: default;
     border-radius: 5px 0px 0px 5px;
}
 .right {
     padding: 25px 40px;
}
 .field {
     width: 100%;
     border: 2px solid rgba(0, 0, 0, 0);
     outline: none;
     background-color: rgba(230, 230, 230, 0.6);
     padding: 0.5rem 1rem;
     font-size: 0.9rem;
     margin-bottom: 22px;
     transition: 0.3s all ease;
}
 .field:hover {
     background-color: rgba(0, 0, 0, 0.1);
     transition: 0.3s all ease;
}
 .field:focus{
     border: 2px solid rgba(30, 85, 250, 0.47);
     transition: 0.3s all ease;
}
 textarea {
     min-height: 150px;
}
 textarea, input {
     color: black;
     text-align: left;
}
 .btn {
     width: 100%;
     padding: 0.7rem 1rem;
     background-color: #2ecc71;
     color: #fff;
    /* font-size: 1.1rem;
     */
     border: none;
     outline: none;
     cursor: pointer;
     transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
}
 .btn:hover {
     background-color: #27ae60;
}
 #button {
     font-size: 12px;
     font-family: 'Raleway';
}
 .field:focus {
     background-color: #fff;
}
/* footer */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:10000px) {
  footer {
      position: static;
  }
}

.footer {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer .footer-left, .footer .footer-center, .footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer .footer-left {
  width: 30%;
}

.footer h3 {
  color: #ffffff;
font-size: 2rem;
  margin: 0;
}



/* Footer links */

.footer .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #ffffff;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer .footer-right {
  width: 30%;
}

.footer .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}


.footer .footer-icons {
  margin-top: 25px;
}

.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  transition: all 0.2s;
}

.footer .footer-icons a:hover {
  background-color: #bbc4d8;
}

.footer-links a:hover {
  color: #bbc4d8;
}


@media screen and (min-width: 1204px) and (max-width: 1287px) {
.head{
  width: 150%;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 150%;
}
.head::after{
  width: 150%;
}

.about{
  zoom: 150%;
  display: flex;
  position: relative;
  left: 150px;
}

.container-faq{
  zoom: 150%;
}

.container-contact {
  zoom: 110%;
  position: relative;
  left: 230px;
}
.contact-box {
  grid-template-columns: 1fr;
}
.left {
  height: 200px;
}

.footer{
  position: relative;
  width: 150%;
} 
}

@media only screen and (min-width: 601px) and (max-width: 776px){
  .head{
    width: 400% !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 150%;
  }
  .head::after{
    width: 400% !important;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/

  nav{
    zoom: 204%;
  }
  .head{
    width: 350%;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 150%;
  }
  .head::after{
    width: 350%;
  }


  .about{
    display: flex;
    zoom: 230%;
    position: relative;
    left: 200px;
  }

  .container-faq h2{
    font-size: 85px;
    position: relative;
    top: -260px;
    left: 300px;
    }
  
  .container-faq{
    position: relative;
    left: 600px;
    bottom: -50px;
  }
  .container-faq .accordion{
    transform: scale(2.75728);
    width: 50%;
    position: relative;
    left: 600px;
  }
  .container-contact {
    width: 200%;
    zoom: 200%;
    position: relative;
    bottom: -200px;
    left: 180px;
    transform: scale(1);
  }
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }

  footer{
    transform: scale(1.8);
    zoom: 200%;
    position: relative !important;
    bottom: -500px;
    left: 400px !important;
    width: 200% !important;
  }
}

@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/

nav{
  zoom: 250%;
}

.head{
  width: 350%;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 150%;
}
.head .h1-title {
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 40px;
}

.head::after{
  width: 350%;
}

.about{
  zoom: 250%;
  display: flex !important;
  position: relative !important;
  bottom: -40px !important;
  left: 47px !important;
}
.about img{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.container-faq h2{
  position: relative !important;
  top: -180px !important;
  left: 50px !important;

  }

.container-faq .accordion{
  transform: scale(1.968) !important;
  width: 40%;
  position: relative !important;
  left: 100px !important;
  bottom: -50px;
}

.container-contact {
  width: 300%  !important;
  zoom: 200%;
  position: relative !important;
  bottom: -200px !important;
  left: 0px !important;
  transform: scale(1.4);
}
.contact-box {
  grid-template-columns: 1fr;
}
.left {
  height: 200px;

}
}



@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/

nav{
  zoom: 200%;
}


.head{
  width: 400% !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 150%;
}

.head::after{
  width: 400% !important;
}

.head .title{
  zoom: 150%;
}
.head .link{
  zoom: 120%;
}

/* .head-content{
  zoom: 100% !important;
} */

.about{
  zoom: 200%;
  position: relative;
  left: 250px;
}

.about img{
  display: none;
  opacity: 0;
  visibility: hidden;
}

.container-faq h2{
font-size: 85px;
position: relative;
top: -180px;
}


.container-faq .accordion{
  transform: scale(2.6) !important;
  width: 30%;
  position: relative;
  left: 100px !important;
  bottom: -10px;
}

.container-contact {
  width: 200%;
  zoom: 150%;
  position: relative;
  left: 150px;
}
.contact-box {
  grid-template-columns: 1fr;
}
.left {
  height: 200px;
}

}


  /* NAVBAR PHONES / VALID DEVICES */
@media(max-width: 1000px) {
  .burger {
      display: block;
 }
  .nav-links {
      position: fixed;
      z-index: 98;
      right: 0;
      flex-direction: column;
      width: 100vw;
      align-items: center;
      justify-content: center;
      background: rgb(42, 42, 43);
      color: rgb(255, 255, 255);
      height: 124vh;
      top: 6%;
      opacity: 1;
      transform: translateX(100%);
      transition: all 0.5s ease;
 }
  .nav-links.active {
      transform: translateX(0);
      opacity: 1;
 }
  .sch .line.active {
      background: white;
 }
  .line.active {
      background: white;
 }
  .nav-links li {
      margin: 20px 0px;
 }
  .one.active {
      transform: rotate(-45deg) translate(-50%, -50%);
 }
  .two.active {
      display: none;
 }
  .three.active {
      transform: rotate(45deg) translate(-5px, 6px);
 }
  .bottom {
      display: none !important;
 }
  .sch .nav-links li a {
      color: white !important;
 }
  .nav-links li a {
      color: white !important;
      font-size: 27px;
 }

 nav{
  zoom: 204%;
}
.head{
  width: 300%;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 150%;
}
.head::after{
  width: 300%;
}


.about{
  display: flex;
  zoom: 230%;
}

.container-faq h2{
  font-size: 85px;
  position: relative;
  top: -180px;
  left: 300px;
  }

.container-faq .accordion{
  transform: scale(2.85728);
  width: 50%;
  position: relative;
  left: 650px;
  bottom: -50px;
}

.container-contact {
  width: 200%;
  zoom: 200%;
  position: relative;
  bottom: -200px;
  left: 180px;
  transform: scale(1);
}
.contact-box {
  grid-template-columns: 1fr;
}
.left {
  height: 200px;
}

/* Applies to all phones and devices below resolution */
footer{
display: none;
visibility: hidden;
opacity: 0;
}
}

/* others*/
.mar-small{
  margin: 20px;
}
 .mar{
     margin: 50px;
}
 .mar2{
     margin: 200px;
}
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}


a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 90px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid rgb(255, 255, 255);
  text-align:center;
  font-size:1.2em;
  z-index:99999;
}


/* scrollbar style */
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 2.5px black;
}

::-webkit-scrollbar-thumb{
  background: rgb(56, 51, 51);
  border-radius: 4px;
}


/*** Works on common browsers ***/

::selection {
  background: #01ACD6;
  color: rgb(0, 0, 0);
}


/*** Mozilla based browsers ***/

 ::-moz-selection {
  background: #01ACD6;
  color: rgb(0, 0, 0);
}


/***For Other Browsers ***/

 ::-o-selection {
  background: #01ACD6;
  color: rgb(0, 0, 0);
}

 ::-ms-selection {
  background: #01ACD6;
  color: rgb(0, 0, 0);
}


/*** For Webkit ***/

 ::-webkit-selection {
  background: #01ACD6;
  color: rgb(0, 0, 0);
}




/* enable when needed */

/* .smooth-scroll-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
} */
